<img
  src="{{ user.profilesetup.profile_picture.url }}"
  alt="Profile Picture"
  class="profile_img"
/>

#create users @api_view(['POST']) def createuser(request): # GET the data from
the input and serailize and save i serializer = UserSerializer(data =
request.data) #check if the data we got above is valid and save it if
serializer.is_valid(): serializer.save() return Response(serializer.data, status
= status.HTTP_201_CREATED) return Response(serializer.errors, status=
status.HTTP_400_BAD_REQUEST) #get a specific user delete the user or put(update)
the user @api_view(['GET','PUT','DELETE']) def userdetails(request,pk): #fecth
the users data by the id passed try: user = User.objects.get(pk=pk) except
user.DoesNotExist: return Response(status=status.HTTP_404_NOT_FOUND) #covering
the get method for that particuler user if request.method == 'GET': #serializing
the user requested data serializer = UserSerializer(user) return
Response(serializer.data) #updating the certain users data if request.method ==
'PUT': #GET THE DATA THAT TO UPDATE WITH serializer = UserSerializer(user,data =
request.data) if serializer.is_valid(): serializer.save() return
Response(serializer.data) return Response(status = status.HTTP_400_BAD_REQUEST)
#deleting the data for that requested user if request.method == 'DELETE':
user.delete() return Response(status = status.HTTP_204_NO_CONTENT)
@api_view(['POST']) @permission_classes([IsAuthenticated]) def
createpost(request): serializer = PostSerializer(data = request.data) if
serializer.is_valid(): serializer.save() return Response(serializer.data, status
= status.HTTP_201_CREATED) return Response(status = status.HTTP_400_BAD_REQUEST)
