{% extends "network/layout.html" %} {% block body %}
<div class="form-container">
  <h3>Create Post</h3>
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
      <textarea
        id="contant"
        name="content"
        class="form-control"
        placeholder="What's on your mind?"
        rows="3"
      ></textarea>
    </div>
    <div class="form-group mt-2">
      <label for="image">Upload an image (optional):</label>
      <input type="file" id="image" name="image" class="form-control-file" />
    </div>

    <button type="submit">Post</button>
  </form>
</div>
{% endif %}
<h1>All Post</h1>
<div id="postList"></div>
{% endblock %}
